


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Noto Serif", serif;
     font-family: "Inter", sans-serif;
}
img{
    max-width: 100%;
}


.display-flex{
  display: flex;
}
.text-black{
    color: #252432;
}
.text-gray{
    color: #8987A1;
}
.text-orange{
    color: #E95A08;
}




/* navbar style */
.navbar{
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
  margin-left: 20px;
}

.nav-links{

}

.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner style*/
.banner{
    display: flex;
    justify-content: center;
}
.banner-content{
  max-width: 850px;
  text-align: start;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
  margin-top: 50px;

}
.banner-description{
  font-weight: 400;
  font-size: 1rem;
  text-align: start;
}
.banner-image{
  width: 100%;
}

/* plant section */
.plants{
    text-align: center;
    margin: 80px 0;
}
.plant-title{
    font-weight: bold;
    font-size: 50px;
    color: black;
}
.plant-description{
    font-weight: regular;
    font-size: 22px;
    text-align: center;
}
/* card */
.card{
    text-align: center;
}
.card-text{
    margin: 25px 0;
}
.card-lily{
    font-weight: 600;
    font-size: 22px;
    color: 111111;
}
card-usd{
    font-weight: bold;
    font-size: 22px;
    color: 111111;
    margin-bottom: 25px;
}

.button-cart{
    background-color: #E95A08;
    color: white;
    padding: 10px 70px;
    border: none;
}