


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Noto Serif", serif;
     font-family: "Inter", sans-serif;
}
main > section{
  margin-top: 130px;
}

img{
    max-width: 100%;
}
.bg-gray{
  background-color: #F5F8FF;
}

.display-flex{
  display: flex;
}
.text-black{
    color: #252432;
}
.text-gray{
    color: #8987A1;
}
.text-orange{
    color: #E95A08;
}




/* navbar style */
.navbar{
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
  margin-left: 20px;
}

.nav-links{

}

.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner style*/
.banner{
    display: flex;
    justify-content: space-between;
    margin: 80px;
}
.banner-content{
  position: relative;
  width: 570px;
  height: 300px;
  
}
.banner-left{
  position: absolute;
  bottom: 0; 
  left: 0;
  padding: 5px; 
  
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
  margin-top: 50px;

}
.banner-description{
  font-weight: 400;
  font-size: 1rem;
  margin-top: 20px;
}
.banner-image{
  width: 570px;
  height: 300px;
}

/* plant section */
.plants{
    text-align: center;
    margin: 80px 0;
}
.plant-title{
    font-weight: bold;
    font-size: 50px;
    color: black;
}
.plant-description{
    font-weight: regular;
    font-size: 22px;
    text-align: center;
}
/* card */
.card-flex{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.card{
  text-align: center;
  margin-top: 20px;  
}
.card-text{
    margin: 20px 0;
}
.card-lily{
    font-weight: 600;
    font-size: 22px;
    color: 111111;
}
card-usd{
    font-weight: bold;
    font-size: 22px;
    color: 111111;
    margin-bottom: 25px;
}

.button-cart{
    background-color: #E95A08;
    color: white;
    padding: 10px 70px;
    border: none;
}
/* lover */

.lover{
  display: flex;
  justify-content: space-between;
  margin: 50px ;
}
.lover-img{
  width: 600px;
  margin-left: 40px;
}
.img-badge{
  width: 286px;
  height: 286px;
  margin-top: -110px;
  margin-left:-180px;
}
.lover-plant{
  text-align: left;
  padding: 20px;
}
.lover-title{
  font-weight: bold;
  font-size: 50px;
  color: #000000;
  margin-top: 50px;
  margin-left: 50pxpx;
}
.lover-plant ul{
  margin: 50px;
}
.lover-plant ul li{
  padding: 20px 0;
  font-weight: 400;
  font-size: 22px;
  color: #8987A1;
}

/* Deals leatest */

.deal-section{
  align-items: center
}
.deals{
  text-align: center;
}
.deals h2{
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 14px;
}
.deals p{
  font-weight: 400;
  font-size: 22px;
  color: #8987A1;
  margin-bottom: 35px;
}
.deal-bloom{
  margin-bottom: 24px;
}
.deal-img{
  justify-content: space-between;
  padding: 30px 100px;
  gap: 30px;
  
}
.deal-left{
  width: 25%;
  height: 423px;
}
.deal-right{
  width: 75%;
}

.container{
  position: relative;
}
.text-right{
  position: absolute;
  bottom: 50%;
  right: 30%;
  color: white;
}
.text-right h2{
  font-weight: 700;
  font-size: 50px;
}
.text-right h3{
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  text-decoration: underline;
}

.text-left{
  position: absolute;
  bottom: 50%;
  right: 30%;
  color: white;
}
.text-left h2{
  font-weight: 600;
  font-size: 20px;
}
.text-left h3{
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
}
.deal-bloom{
  height: 211px;
  background-image: linear-gradient(0, 0, 0, 0.75);
  background-size: cover;
}
.deal-ana{
  height: 211px;
  background-image: linear-gradient(0, 0, 0, 0.75);
  background-size: cover;
}
.deal-zabo{
  width: 100%;
  height: 450px;
  background-image: linear-gradient rgba(0, 0, 0, 0.75);
   background-image: url(../images/deal-zabo.png) rgba(0, 0, 0, 0.5);
  background-size: cover;
}

/* form */

.form-title{
  position: absolute;
  bottom: 45%;
  right: 40%;
}
.form-title h2{
  font-weight: 700;
  font-size: 50px;
  color: white;
  text-align: center;
}
.form-title input{
  padding: 10px 20px;
  width: 600px;
}
.form-title button{
  background-color: #E95A08;
  padding: 10px 25px;
  color: white;
  border: none;
  margin-top: 20px;
}
.form-title button:hover{
  background-color: rgb(0, 255, 42);
  color: #000000;
}
.form img{
  width: 100%;

}
/* footer */

.footer-section{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 120px;
  
}

.footer{
  padding: 15px 25px;
}
.footer img{
  width: 130px;
  height: 80px;
}
.footer p{
  font-weight: 600;
  font-size: 20px;
  color: #8987A1;
}
.footer-home{
  gap: 20px;
}
.footer-home ul{
  text-decoration: none;
}
.footer-home ul li{
  font-size: 18px;
  list-style: none;
  margin: 30px 0;
  color: #8987A1;
}
.footer-feature{
  
}
.footer-feature ul{
  text-decoration: none;
}
.footer-feature ul li{
  font-size: 18px;
  list-style: none;
  margin: 30px 0;
  color: #8987A1;
}
.footer-icon{
  display: flex;
  gap: 20px;
  
}
.footer-icon-right{
  justify-content: space-around;
}
.footer-icon div{
  align-items: center;
  justify-content: center;
  
}
.footer-icon div{
  margin: 20px 20px;
}